@import './style.css';

/* Hero */
.hero {
  height: 100vh;
  background-image: url(../assets/images/profile.png);
  background-image: url(../assets/images/profile-7.jpg);
  background-image: url(../assets/images/profile-15.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-size: cover;
  background-color: #242629ef;
  position: relative;
  top: -6.1875rem;
  top: -99px;
  z-index: -1;
}

.hero__container {
  backdrop-filter: grayscale(1);
  background-color: #242629cf;


  background-color: #2426299f;
}

.hero__wrapper {
  position: relative;
  padding: 2rem;
  background-color: var(--background-five);
  /* backdrop-filter: blur(10px); */
  /* backdrop-filter: grayscale(1); */
}

.hero__content {
  height: 240px;
}

.hero__firstName,
.hero__lastName {
  color: var(--headline);
  font: var(--big-title-desktop);
  text-transform: uppercase;

}

.hero__firstName {
  position: relative;
  left: 3rem;
  margin: 0;
}

.hero__lastName {
  position: relative;
  bottom: 2rem;
}

.hero__firstName span {
  color: var(--headline);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--headline);
}

.hero__lastName span {
  color: var(--headline);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--headline);
}

.hero__subtitle {
  color: var(--headline-two);
  text-transform: uppercase;
  font: var(--big-subtitle-desktop);
  position: relative;
  left: 2rem;
  bottom: 3rem;
  letter-spacing: .125rem;
}


/* @media (min-width: 1200px) {} */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {

  .hero__firstName,
  .hero__lastName {
    font: var(--big-title-tablet);
  }

  .hero__subtitle {
    font: var(--big-subtitle-tablet);
    left: 1rem;
  }
}



@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero__container {
    justify-content: center !important;
  }

  .hero__wrapper {
    padding: 2rem;
    background-color: var(--background-five);
  }

  .hero__content {
    height: 220px;
  }

  .hero__firstName,
  .hero__lastName {
    font: var(--big-title-tablet);
  }

  .hero__subtitle {
    font: var(--big-subtitle-tablet);
    left: 1rem;
  }

}


@media screen and (max-width: 767.98px) {
  .hero {
    top: -56px;
  }

  .hero__container {
    justify-content: center !important;
  }

  .hero__wrapper {
    padding: 2rem;
    background-color: var(--background-five);
  }

  .hero__content {
    height: 170px;
  }

  .hero__firstName,
  .hero__lastName {
    font: var(--big-title-mobile);
  }

  .hero__subtitle {
    font: var(--big-subtitle-mobile);
    left: .5rem;
  }

}