:root {
  --background: #16161a;
  --background-two: #242629;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --button: #7f5af0;
  --button-hover: #5a28f1;
  --button-text: #fffffe;
  --stroke: #010101;
  --main: #fffffe;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background-two);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background-two);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--button);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: var(--button-hover);
}

body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);

  position: relative;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Header */
.header {
  height: 3.5rem;
  background-color: transparent;
}

/* Hero */
.hero {
  height: 100vh;
  background-image: url(../assets/images/profile.png);
  background-image: url(../assets/images/profile-2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-size: cover;
  background-color: #242629ef;
  position: relative;
  top: -3.5rem;
  z-index: -1;
}

.hero__container {
  backdrop-filter: grayscale(1);
  background-color: #242629cf;
}

.hero__wrapper {
  position: relative;
  padding: 2rem;
  /* backdrop-filter: blur(10px); */
  /* backdrop-filter: grayscale(1); */
}

.hero__firstName,
.hero__lastName {
  color: var(--headline);
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
}

.hero__firstName {
  position: relative;
  left: 2rem;
  margin: 0;
}

.hero__lastName {
  position: relative;
  bottom: 2rem;
}

.hero__firstName span {
  color: var(--highlight);
}

.hero__lastName span {
  color: var(--tertiary);
}

.hero__subtitle {
  color: var(--paragraph);
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  left: 4rem;
  bottom: 3rem;
}

/* About me */



.information__imageContainer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  width: 250px;
  height: 350px;
}

.information__image {
  position: relative;
  top: 30px;
  left: 30px;
  background-color: var(--background-two);
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.information__image:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.information__title {
  color: var(--headline);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.information__subtitle {
  color: var(--headline)
}

.information__description {
  text-align: justify;
  color: var(--secondary);
}

.education__title {
  color: var(--headline);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.education__imageContainer {
  background-color: var(--secondary);
  width: 100px;
  height: 100px;
}

.education__image {
  position: relative;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.education__subtitle {
  color: var(--headline);
  font-size: 1.5rem;
  font-weight: 500;
}

.education__location {
  color: var(--paragraph);
  font-size: 1rem;
}

.education__period {
  color: var(--headline);
  text-align: end;
  font-size: 1.5rem;
  font-weight: 500;
}

.education__divider {
  border-top: 1px solid var(--headline);
  margin-top: 2rem;
}

.skills__title {
  color: var(--headline);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.skills__description {
  text-align: justify;
  color: var(--secondary);
}

.skills__name {
  font-size: 1.5rem;
  font-family: Montserrat, serif;
  color: var(--headline);
}

/* Family */
.family {
  background-color: var(--background-two);
}

.family__title {
  margin: 0;
  padding: 0;
  color: var(--headline);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.family__title::after {
  content: '';
  display: block;
  width: 5rem;
  height: .25rem;
  margin: 0 auto;
  background-color: var(--tertiary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.25rem;
  /* top: 70px; */
}

.family__description {
  color: var(--paragraph);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.family__link {
  color: var(--button);
  color: var(--tertiary);
}

.family__link:hover {
  background-color: var(--button);
  background-color: var(--tertiary);
  color: var(--headline);
}

.family__gallery {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: .5rem;
  justify-content: center;
  align-content: center;
}

.family__gallery>.family__picture {
  background-color: #2cb67d;
  text-align: center;
  /* border-radius: .5rem; */
  /* padding: 40px; */
}

.family__picture {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.family__image:hover .family__picture:hover {
  background-color: #fffffe53;
  cursor: pointer;
}

.family__picture--one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 600px;
  /* grid-template-rows: 2fr; */
}

.family__picture--eight {
  grid-column: 3 / 5;
}

.family__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


/* .family__picture--one {
  background-image: url(../assets/images/aunt-1.jpg);
}
.family__picture--two {
  background-image: url(../assets/images/aunt-2.jpg);
}
.family__picture--three {
  background-image: url(../assets/images/aunt-3.jpg);
}
.family__picture--four {
  background-image: url(../assets/images/aunt-4.jpg);
}
.family__picture--five {
  background-image: url(../assets/images/aunt-5.jpg);
}
.family__picture--six {
  background-image: url(../assets/images/aunt-6.jpg);
}
.family__picture--seven {
  background-image: url(../assets/images/aunt-7.jpg);
}
.family__picture--eight{
  background-image: url(../assets/images/aunt-1.jpg);
} */


/* Friends */
.friend {
  min-height: 100vh;
}

.friend__title {
  margin: 0;
  padding: 0;
  color: var(--headline);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.friend__title::after {
  content: '';
  display: block;
  width: 5rem;
  height: .25rem;
  margin: 0 auto;
  background-color: var(--tertiary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.25rem;
  /* top: 70px; */
}

.friend__description {
  color: var(--paragraph);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

/* About me */
input[type="range"] {
  -webkit-appearance: none;
  height: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(var(--button), var(--button));
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--button-hover);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 var(--button-hover);
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background: var(--button);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.friend__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: transform 0.25s;
}

.friend__image:hover {
  transform: scale(1.1);
  filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
}

.friend__imageContainer {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.friend__infoContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.friend__name {
  line-height: 50px;
  color: transparent;
}

.friend__name:hover {
  color: var(--headline);
}

.friend__infoContainer:hover {
  background-color: #00000093;
}

/* Contact */
.contact {
  background-color: var(--background);
  padding: 2rem 0;
}

.contact__container {
  margin: 10%;
}

.contact__title {
  color: var(--headline);
  text-transform: uppercase;
}

.contact__subtitle {
  color: var(--paragraph);
}

.contact__formMessage {
  color: var(--headline);
}

.contact__formInfo {
  color: var(--headline);
}

.contact__formInput {
  border-radius: 0;
}

.contact__formInput:focus {
  box-shadow: none;
  border-color: var(--main);
}

.contact__button {
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 0;
}

.contact__button:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}

/* Footer */
.footer {
  background-color: var(--background);
}

.card__icon {
  font-size: 30px;
}

.card__title {
  margin-top: 20px;
}

.card__divider {
  border-top: 1px solid var(--headline);
  margin-left: 50px;
  margin-right: 50px;
}

/* Footer */
.footer__card {
  background-color: var(--background-two);
  color: var(--headline);
  border-radius: 0;
  margin-bottom: 20px;
}

.footer__copyText {
  color: var(--headline);
}

.footer__media {
  height: 28px;
  width: 28px;
  color: var(--headline);
  border: 1px solid var(--headline);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.footer__media:hover {
  color: var(--tertiary);
  border: 1px solid var(--tertiary);
}